.server-error-msg {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;  
  min-height: 50px;
  width: 100%;
  margin: 0 0 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.server-error-msg_centered {
  text-align: center;
}

.server-error-msg_error-color {
  color: #EE3465;
}

.server-error-msg_message-color {
  color: #3456F3;
}
